<div id="wrapper">
    <h2>Chicago, IL</h2>
    <div class='inline-block'>
      <p>Humidity: {{details.main.humidity}}</p>
      <p>Temperature (Average): {{details.main.temp}}</p>
      <p>Temperature (High): {{details.main.temp_max}}</p>
      <p>Temperature (Low): {{details.main.temp_min}}</p>
      <p>Status: {{details.weather[0].description}}</p>
    </div>
    <div class='inline-block image-bucket'>
      <img src="https://images.pexels.com/photos/167200/pexels-photo-167200.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Whoops.">
    </div>
  </div>