<div id="wrapper">

  <div class='dojo-bucket inline-block'>
    <img src="https://secure.meetupstatic.com/photos/event/8/6/7/2/highres_460654418.jpeg" alt="Whoops.">
  </div>
  <button [routerLink]="['/home']" class='inline-block'>Home</button>
  <button [routerLink]="['/mine-coins']" class='inline-block'>Mine Coins</button>
  <button [routerLink]="['/buy-coins']" class='inline-block'>Buy Coins</button>
  <button [routerLink]="['/sell-coins']" class='inline-block'>Sell Coins</button>
  <button [routerLink]="['/browse-ledger']" class='inline-block'>Browse Ledger</button>
  <br><br>
  <router-outlet></router-outlet>


</div>

