<div id="wrapper">
    <h2>Burbank, CA</h2>
    <div class='inline-block'>
      <p>Humidity: {{details.main.humidity}}</p>
      <p>Temperature (Average): {{details.main.temp}}</p>
      <p>Temperature (High): {{details.main.temp_max}}</p>
      <p>Temperature (Low): {{details.main.temp_min}}</p>
      <p>Status: {{details.weather[0].description}}</p>
    </div>
    <div class='inline-block image-bucket'>
      <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1508470418000/photosp/bd509604-ac4a-4441-b215-64e553bcdff1/stock-photo-photography-travel-shopping-california-lifestyle-los-angeles-amazing-dining-burbank-bd509604-ac4a-4441-b215-64e553bcdff1.jpg" alt="Whoops.">
    </div>
  </div>