<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style rel='stylesheet' type='text/css' href='/stylesheets/styles.css'></style>
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>Times visited: <%= count %></p>
    <a href='/add2'>Click to add 2</a>
    <a href="/destroy">Click to restart</a>
</body>
</html>