<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style rel='stylesheet' type='text/css' href='/stylesheets/styles.css'></style>
    <title>Dojo Secrets</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<!--Wrapper-->
    <div id="wrapper">
        <a href="/secrets">Home</a>
        <a href="/logout">Logout</a>
        <div>
            <!--Secret Section-->
            <h3>Comment on this secret</h3>
            <p></p>
            Secret: <h3><%= secret.secret %></h3>
            Comments: 
            <% for (var comment of secret.comments) { %>
                <p><%= comment.comment %></p>
            <% } %>
            <br>
            <form action="/comment/create/<%=secret._id%>" method="post">
                <textarea name="comment" cols="50" rows="10" placeholder="Leave your comment here!"></textarea>
                <input type="submit" value="Leave comment">
            </form>
            <% if(messages.comment) { %>
                <% for (var x of messages.comment) { %>
                    <h5><%= x %></h5>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>