<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style rel='stylesheet' type='text/css' href='/stylesheets/styles.css'></style>
    <title>Dojo Secrets</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<!--Wrapper-->
    <div id="wrapper">
        <h1>Dojo Secrets</h1>
        <a href="/logout">Logout</a>
        <div>
            <!--Secret Section-->
            <h3>Create a Secret</h3>
            <p></p>
            Secret:
            <form action="/secret/create" method="post">
                <input type="text" name='secret'>
                <input type="submit">
            </form>
            <% if(messages.secret) { %>
                <% for (var x of messages.secret) { %>
                    <h5><%= x %></h5>
                <% } %>
            <% } %>
        </div>
        <div>
            <br>
            All the Secrets: <br><br>
            <% for (var user in users) { %>
                <% for (var x=0; x<users[user].secrets.length; x++) { %> <br>
                    <a href="/secret/<%= users[user].secrets[x]._id%>"><span><%= users[user].secrets[x].secret %></span></a>
                    <% if (users[user]._id == current_user_id) { %>
                    <a href="/secret/delete/<%= users[user].secrets[x]._id%>">Delete</a>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>