.button-style{
    border-radius: 5px;
    width:100px;
    height:50px;
    font-size: 12px;
}
#wrapper{
    width:900px;
    height:600px;
    margin: 50px auto;
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
.pink{
    background-color:pink;
}
button{
    margin-top:75px;
}
.hidden{
    display:none;
}
.chat-box{
    height:400px;
    border:1px solid black;
    overflow:scroll;
}
.italics{
    font-style: italic;
}