<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style rel='stylesheet' type='text/css' href='/stylesheets/styles.css'></style>
    <title>Cars and Cats</title>
</head>
<body>
    <div class='small'>
        <img class='fit' src="/cats/me.jpg">
    </div>
    <div class='small'>
        <img class='fit' src="/cats/magic.jpeg">
    </div>
</body>
</html>